
/* Variabler som kan bruges gennem CSS*/
:root {
    /* Farver */
    --primary-color--: #C7D4E3;
    --secondary-color--: #DA2328;
    --text-color--: black;
    --btn-color--:  #52805A;

    /* Typografier */
    --header-font--: 'Bebas Neue';
    --text-font--: 'Inter';

    /* Tekst størrelser */
    --font-size-small:13px;
    --font-size-base:16px;
    --font-size-medium:18px;
    --font-size-large:20px;
    --font-size-xl:24px;
    --font-size-xxl:28px;
}

/* Resetter styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--header-font--);
    background: var(--primary-color--);
    background-image: url("../img/brain-background.svg");
    /* Sørger for at baggrundsbilledet kun ses 1 gang */
    background-repeat: no-repeat; 
    background-position: center;
    color: var(--text-color--);
}


header {
    background: white;
    padding: 20px;
    display: flex;
    justify-content: center;
}


nav {
    background-color: var(--secondary-color--);
    height: 5vh;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}


.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#help-btn {
    font-family: var(--text-font--);
    font-size: var(--font-size-base);
    width: 13%;
    background-color: var(--btn-color--);
    border-radius: 15px;
    padding: 20px;
    /* Fjerner outline fra knappen */
    outline: none;
    border: none;
    color: white;
}

#tried-before-btn {
    font-family: var(--text-font--);
    font-size: var(--font-size-base);
    background: none;
    border: none;
    text-decoration: underline;
    padding-top: 40px;
}