
/* Variabler */

/* Farver */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Bebas Neue;
    background: #C7D4E3;
    background-image: url("../img/brain-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: black;
}


header {
    background: white;
    padding: 20px;
    display: flex;
    justify-content: center;
}


nav {
    background-color: #DA2328;
    height: 5vh;
}

h1 {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}


.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#help-btn {
    width: 12%;
    background-color: #52805A;
    border-radius: 15px;
    padding: 20px;
    outline: none;
    border: none;
    color: white;
}

#tried-before-btn {
    background: none;
    border: none;
    text-decoration: underline;
    padding-top: 40px;
}