* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* generelle styles */
body {
  font-family:
    Bebas Neue,
    sans-serif;
  background-color: #c8d4e3;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 2rem;
}

/* typografi */
h2,
h3 {
  font-family:
    Bebas Neue,
    sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 0;
}

/* --- billeder slider ----*/
