/* Variabler som kan bruges gennem CSS*/
:root {
    /* Farver */
    --primary-color--: #C7D4E3;
    --secondary-color--: #DA2328;
    --text-color--: black;
    --btn-color--:  #52805A;

    /* Typografier */
    --header-font--: "Bebas Neue";
    --text-font--: "Inter", sans-serif;

    /* Tekst størrelser */
    --font-size-small:13px;
    --font-size-base:16px;
    --font-size-medium:18px;
    --font-size-large:20px;
    --font-size-xl:24px;
    --font-size-xxl:28px;
}

/* Resetter styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


/* Styling af hele siden og baggrunden */
body {
    font-family: var(--header-font--);
    background: var(--primary-color--);
    background-image: url("../../img/brain-open-background.svg");
    max-width: 420px;
    margin: 0 auto;
    padding: 20px;
    /* Sørger for at baggrundsbilledet kun ses 1 gang */
    background-repeat: no-repeat; 
    background-position: center;
    color: var(--text-color--);
    background-position-y: -10vh;

    /* Til fade-in animation */
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

/* Styling til teksten på scanner siden */
#puzzleProgressText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3vh;
}

/* Giver lidt luft mellem overskriften og processen af hvor mange brikker man har fundet */
#puzzleProgressText h1 {
    margin-bottom: 2vh;
}

/* Styling til alle puslespilsbrikkerne */
#puzzleProgressImg {
    height: 280px;
    width: 280px;
    position: relative;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling til de samlede puslespilsbrikker */
#puzzleBrain {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

/* Styling til den nederste brik (gul) */
#bottomBrainPiece {
    /* Gør at brikken kan ligge ovenpå billedet nedenunder */
    position: absolute;
    z-index: 2;
    width: 116px;
    top: 73%;
    left: 49.5%;
    transform: translate(-50%, -50%);
}

/* Styling til nederste venstre brik (rød) */
#bottomLeftBrainPiece {
    position: absolute;
    z-index: 2;
    width: 120px;
    top: 45%;
    left: 19%;
    transform: translate(-50%, -50%);
}

/* Styling til den midterste brik (grøn) */
#middleBrainPiece {
    position: absolute;
    z-index: 2;
    width: 114px;
    top: 48.5%;
    left: 48%;
    transform: translate(-50%, -50%);
}

/* Styling til begge knapper */
#mainBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px; 
}

/* Styling til scanner-knappen */
#startScannerBtn {
    font-family: var(--text-font--);
    font-size: var(--font-size-base);
    background-color: var(--btn-color--);
    border-radius: 15px;
    padding: 20px;
    /* Fjerner outline fra knappen */
    outline: none;
    border: none;
    color: white;
    margin-bottom: 5vh;
}

/* Styling til "generér min kode"-knappen */
#generateCodeBtn {
    font-weight: bold;
    font-family: var(--text-font--);
    background: none;
    border: solid var(--btn-color--);
    color: var(--text-color--);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 5vh;
}

/* Styling til "reset"-knappen */
#resetBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    z-index: 999;
}


/* -------ANIMATION------- */
/* Animation mellem start skærmen og skærmen med puslespillet */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Animation til pop op vinduet efter succesfuld scanning */
@keyframes slideUp {
    from {
        bottom: -100px;
        opacity: 0;
    }

    to {
        bottom: 15vh;
        opacity: 1;
    }
}




/* -------QR-SCANNER------- */

#reader {
    width: 300px;
    margin: 20px auto;
}

#cancelScanBtn {
    font-family: var(--text-font--);
    font-size: var(--font-size-base);
    background-color: var(--secondary-color--);
    border-radius: 15px;
    padding: 20px;
    /* Fjerner outline fra knappen */
    outline: none;
    border: none;
    color: white;
    margin: 10vh auto 0 auto;
    display: block 
}

#popUp {
    display: none;
    position: fixed;
    /* top: 15vh; */
    left: 50vw;
    transform: translateX(-50%);
    background: var(--primary-color--);
    bottom: -100%;
    padding: 20px;
    border: solid 5px white;
    border-radius: 15px;
    z-index: 999;
    opacity: 0;
}

/* Animation til pop-op efter succesfuld scanning */
#popUp.show{
    animation: slideUp 0.5s ease forwards;
}

#popUpText {
    text-align: center;
    font-family: var(--text-font--);
}

#popUpText h2 {
    font-family: var(--header-font--);
}

#scannerScreen {
    display: none;
}


#findMoreBtn {
    font-family: var(--text-font--);
    font-size: var(--font-size-base);
    background-color: var(--secondary-color--);
    border-radius: 15px;
    padding: 20px;
    /* Fjerner outline fra knappen */
    outline: none;
    border: none;
    color: white;
    margin: 10vh auto 0 auto;
    display: block
}


/* Styling til kode pop-up */

#codePopUp {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color--);
    background-image: url("../../img/brain-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    z-index: 998;
}

#codePopUpContent {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 80%;
    max-width: 350px;
}

#museumCodeText {
    font-family: var(--text-font--);
    font-weight: bold;
    margin: 20px 0;
}

#closeCodePopUp {
    font-family: var(--text-font--);
    font-size: var(--font-size-base);
    background-color: var(--secondary-color--);
    border-radius: 15px;
    padding: 20px;
    /* Fjerner outline fra knappen */
    outline: none;
    border: none;
    margin-bottom: 5vh;
}