* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variabler som kan bruges gennem CSS*/
:root {
  /* Farver */
  --primary-color--: #c7d4e3;
  --secondary-color--: #da2328;
  --text-color--: black;
  --btn-color--: #52805a;

  /* Typografier */
  --header-font--: "Bebas Neue";
  --text-font--: "Inter", sans-serif;

  /* Tekst størrelser */
  --font-size-small: 13px;
  --font-size-base: 16px;
  --font-size-medium: 18px;
  --font-size-large: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 28px;
}

/* her får body et billede som baggrund*/
body {
  background-image: url("../../img/collage1.png"); /* sti til dit billede */
  background-size: cover; /* Billedet dækker hele skærmen uden at blive strukket */
  background-position: center; /* Centrerer billedet */
  background-repeat: no-repeat; /* Billedet gentages ikke */
  min-height: 100vh; /* så billede fylder hele skærmhøjden */
}

/* iconer */
#homeIcon,
#backIcon {
  height: 3rem;
  width: auto;
}

#backIcon {
  display: flex;
  bottom: -45rem;
  left: 2rem;
  position: relative;
}

#homeIcon {
  display: flex;
  top: 2rem;
  left: 100rem;
  position: relative;
}

/* billede container hitboks */
.figureDiv {
  width: 25rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* billede i div container */
.figureImg {
  max-width: 90%; /* hvis billedet er for stort i forhold til containeren, skaleres det ned, men beholder sine proportioner */
  max-height: 90%;
  width: auto;
  height: auto;
}

#figure1Hitboks {
  position: relative;
}

#figure2Hitboks {
  position: relative;
  width: 100vw;
}

#figure3Hitboks {
  position: relative;
  width: 150vw;
  bottom: 90vh;
}

.figureImg {
  animation: tilting 3s infinite; /* looper uendeligt */
}

/* --------------------------------------------------------------------------------------------------------
Animation 
-------------------------------------------------------------------------------------------------------- */

/* denne animation får figurerne til at bevæge sig */
@keyframes tilting {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(4deg);
  } /* vipper til den ene side */
  75% {
    transform: rotate(-4deg);
  } /* vipper til den anden side */
  100% {
    transform: rotate(0deg);
  }
}

/* --------------------------------------------------------------------------------------------------------
Overlay
-------------------------------------------------------------------------------------------------------- */

.hiddenOverlay {
  display: none; /* Skjult som standard */
  position: fixed; /* Bliver på plads, selvom man scroller */
  z-index: 1000; /* Lægger oven på alt andet */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Halvgennemsigtig baggrund */
  justify-content: center;
  align-items: center;
}

/* overlay content (den hvide boks) */
.hiddenOverlayContent {
  background-color: var(--primary-color--);
  padding: 2rem;
  border-radius: 2rem;
  width: 90%;
  max-width: 50rem;
  text-align: center;
  font-family: "inter", sans-serif;
  position: relative;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
}

/* Luk-kryds */
.closeBtn {
  position: absolute;
  top: -0.5rem;
  right: 1.5rem;
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--secondary-color--);
}
