/* Variabler som kan bruges gennem CSS*/
:root {
  /* Farver */
  --primary-color--: #c7d4e3;
  --secondary-color--: #da2328;
  --text-color--: black;
  --btn-color--: #52805a;

  /* Typografier */
  --header-font--: "Bebas Neue";
  --text-font--: "Inter";

  /* Tekst størrelser */
  --font-size-small: 13px;
  --font-size-base: 16px;
  --font-size-medium: 18px;
  --font-size-large: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 28px;
}
/* =====================================================================================================
 Body
==================================================================================================== */
body {
  background-color: var(--primary-color--);
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: var(--text-font--);
}
/* baggrundsbillede */
/* containeren fylder hele skærmen */
.backgroundContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.backgroundImage {
  width: 70%;
  height: 100%;
  object-fit: cover;
}

/* =====================================================================================================
 Header
==================================================================================================== */
/* Header */
.navigationHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0.5rem 2rem; /* giver luft i siderne */
}

.leftPlaceholder {
  width: 4rem; /* bredde, der matcher right-area (justér efter behov) */
}

.logoImg {
  height: 4rem;
  width: auto;
}

.rightArea {
  width: 4rem; /* samme bredde som leftPlaceholder */
  display: flex;
  justify-content: flex-end; /* skubber homeIcon til højre */
}

.redLine {
  height: 1rem;
  background-color: var(--secondary-color--);
}

/* ikoner */
#homeIcon {
  height: 3rem;
  width: auto;
}

/* =====================================================================================================
 HovedIndhold
==================================================================================================== */
.main {
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
}

.main h2 {
  font-family: var(--header-font--);
  font-size: 2rem;
  color: black;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.text {
  font-size: 1rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text p {
  font-family: var(--text-font--);
}

.figure {
  width: auto;
  height: 20rem;
}

.imageContainer {
  height: 20rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

/* =====================================================================================================
 Knapper
==================================================================================================== */
/* Forstået-knap */
.Btnunderstood {
  background: none;
  color: black;
  border: solid 0.3rem var(--secondary-color--);
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-family: var(--text-font--);
  border-radius: 40px;
  margin-top: 1rem;
}
